.registration-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 3;
    background-color: #4589ff;
    transition: 300ms ease-in-out;
  }
  
  .join-logo-login {
    z-index: 1;
    position: absolute;
    width: 265px;
    height: 323px;
    transition: 1000ms ease-in-out;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
  }
  
  .join-logo-login-new-position {
    transition: 1000ms ease-in-out;
    top: 50px;
    left: 77px;
    width: 100px;
    height: 120px;
    transform: translateY(0);
    transform: translateX(0);
  }
  
  .join-logo-login-color{
    fill:'rgb(225, 225, 255)';
    transition: 1000ms ease-in-out;
  }
  
  .registration-upper-right-inner-container {
    position: absolute;
    display: flex;
    width: 350px;
    height: 50px;
    align-items: center;
    top: 65px;
    right: 90px;
    gap: 35px;
  
    /* opacity: 0; */
    transition: 300ms ease-in-out;
  }
  
  .registration-upper-right-inner-container span {
    width: 168px;
    height: 28px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
  }
  
  .registration-upper-right-inner-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    width: 112px;
    height: 48px;
    background: #4589ff;
    border-radius: 8px;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #ffffff;
    border: none;
  }
  
  .registration-upper-right-inner-container button:hover {
    cursor: pointer;
    background-color: #005dff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .log-in-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
    gap: 35px;
    width: 652px;
    height: 457px;
    background: #ffffff;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
  
    opacity: 0;
    transition: 300ms ease-in-out;
  }

  .return-to-log-in-page-button{
    position: absolute;
    display: flex;
    top: 53px;
    left: 37px;
    align-items: center;
    background: none;
    border: none;
  }

  .return-to-log-in-page-button:hover{
    cursor: pointer;
  }
  
  .log-in-headline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 315px;
    height: 82px;
  }
  
  .log-in-headline-and-border-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 3px solid #4589ff;
    height: 100%;
    width: 150px;
  }
  
  .log-in-headline-and-border-container span {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    width: 550px;
  }

  .forgot-password-description-container{
    display: none;
    justify-content: center;
    width: 590px;
  }

  .forgot-password-description-container span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
  }
  
  .log-in-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 420px;
    height: 130px;
  }

  .log-in-input-container form{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .log-in-input-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #d1d1d1;
  }
  
  .log-in-input-field input {
    border: none;
    font-size: 20px;
    width: 100%;
    cursor: text!important;
  }
  
  .log-in-input-field input:hover {
    cursor: pointer;
  }
  
  .log-in-input-field input:focus {
    outline: none;
  }
  
  .log-in-input-field img {
    width: 20px;
    height: 20px;
  }
  
  .cursor-pointer:hover {
    cursor: pointer;
  }
  
  .log-in-remember-me-forgot-password-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 384px;
    height: 23px;
  }
  
  .log-in-remember-me-forgot-password-section input {
    height: 16px;
    width: 16px;
    margin: 0;
    appearance: none;
    margin-bottom: 2px;
  }
  
  .log-in-remember-me-forgot-password-section a {
    width: 181px;
    height: 23px;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: #005dff;
  }
  
  .log-in-remember-me-input-label {
    align-items: center;
    display: flex;
    gap: 20px;
  }
  
  .log-in-commit-guest-log-in-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 370px;
    height: 50px;
    gap: 10px;
  }
  
  .log-in-commit-guest-log-in-section button:hover {
    cursor: pointer;
    transition: 100ms ease-in-out;
  }
  
  .log-in-commit-guest-log-in-section-button-log-in {
    height: 50px;
    width: 135px;
    background: #4589ff;
    border-radius: 8px;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    border: none;
    color: #ffffff;
  }
  
  .log-in-commit-guest-log-in-section-button-log-in:hover {
    cursor: pointer;
    background-color: #005dff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 100ms ease-in-out;
  }
  
  .log-in-commit-guest-log-in-section-button-guest {
    height: 100%;
    width: 200px;
    background: #ffffff;
    border: 1px solid #647188;
    border-radius: 8px;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    color: #647188;
  }
  
  .log-in-commit-guest-log-in-section-button-guest:hover {
    border: 2px solid #4589ff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #4589ff;
    transition: 100ms ease-in-out;
  }
  
  .remember-me-checkbox:hover {
    cursor: pointer;
  }
  
  .remember-me-checkbox::before {
    width: 18px;
    height: 18px;
    background-image: url("../assets/img/subtaskunchecked.svg");
    content: "";
    float: left;
    object-fit: cover;
  }
  
  .remember-me-checkbox:checked::before {
    width: 18px;
    height: 18px;
    background-image: url("../assets/img/subtaskchecked.svg");
    content: "";
    float: left;
    object-fit: cover;
    animation-duration: 200ms;
  }

  .wrong-password-container{
    height: 16px;
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 120%;
    color: #FF8190;
  }

  .email-send-message-background{
    z-index: 3;
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0.6;
    top: 0;
  }

  .email-send-message{
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
    padding: 0px 24px;
    gap: 13px;
    width: 432px;
    height: 74px;
    background: #4589FF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    z-index: 3;
    opacity: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    transition: 200ms ease-in-out;
    color: white;
  }
  